{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <div class="row container m-auto text-center">
        <div class="col-6 mt-3 mb-3">
            <img class="w-50" src="{% static 'mypic.jpg' %}" alt="">
            <div class="mt-3">
                <h4 class="text-secondary">Owner : Abdullah Al Mostakim</h4>
            </div>
        </div>
        <div class="col-6 mt-3 mb-3 d-flex align-content-center">
            <div>
                <h1 class="display-3 text-secondary">Location of Our Restaurant</h1>
                <h4 class="text-secondary"> Anderkilla, Rajapukur Lane</h4>
                <h5 class="text-secondary"> Chittagong, Bangladesh</h5>
                <h5 class="text-secondary"> Contact no: 01871392168</h5>
                <h5 class="text-secondary"> Email: mostakimabdullah2@gmail.com</h5>
            </div>
    
    
    
        </div>
    </div>
</div>
{% endblock %}